# Code Related to Print Statement

In [1]:
print("Hello World")

Hello World

In [2]:
a = 3
b = 5
c = a + b
print("Sum of {1} and {0} is {2}. ".format(b,a,c))      # String Formatter and place Holder

Sum of 3 and 5 is 8.

In [3]:
a = "Saket"
b= "rajkumar"
print("My name is {0} and i am discussing python {0} and other person is {1}".format(a,b))

My name is Saket and i am discussing python Saket and other person is rajkumar

In [4]:
print("Sum of 3 and 5 is : ", c)

Sum of 3 and 5 is :  8

## If-else

In [6]:
a = 4
if a%2 == 0:               #Indentation-require for control flow    :
 print("Number is even")
 print("it is very good")
else:
    print("Number is odd")

Number is even
it is very good

In [14]:
per = float(input("Enter the percentage = "))   # input always retruns a string
print("You have entered {0} percent".format(per))

if per >= 75:
    print("First Division with Honrs.")   # else if ladder
elif per >=60 and per < 75:
    print("Only First Divion")
elif per >=45 and per < 60:
    print("Second division")
elif per >= 35 and per < 45:
    print("Third Division")
else:
    print("Fail")

Enter the percentage = 22
You have entered 22.0 percent
Fail

In [15]:
### Find the greater among three 3  7, 5
a = int(input("Enter first number:  "))
b = int(input("Enter second number:  "))
c = int(input("Enter third number:  "))

Enter first number:  2
Enter second number:  6
Enter third number:  5

# Data Type is python 

1.List  []
2.Tuple (,) separtor working as delimeter 
3.Set   {}
4.Dictonary {k:pv}
5.String " " 
6.Document String """ """ triple quote

In [1]:
a=[2,3,5] 
type (a)

list

In [3]:
len (a)

3

In [5]:
for temp in a:
    print (temp)

2
3
5

In [6]:
a.append(10)
a.append(13)
a

[2, 3, 5, 10, 13]

In [7]:
a.append("SAKET")
a

[2, 3, 5, 10, 13, 'SAKET']

In [8]:
b=[8,19,24,25]
a.append(b)
a

[2, 3, 5, 10, 13, 'SAKET', [8, 19, 24, 25]]

In [10]:
b[3]

25

In [11]:
a.append(b[3])
a

[2, 3, 5, 10, 13, 'SAKET', [8, 19, 24, 25], 25]

In [12]:
len (a)

8

In [14]:
for temp in a:
    print(temp,type(temp))

2 <class 'int'>
3 <class 'int'>
5 <class 'int'>
10 <class 'int'>
13 <class 'int'>
SAKET <class 'str'>
[8, 19, 24, 25] <class 'list'>
25 <class 'int'>

In [15]:
a[5]

'SAKET'

In [16]:
a[5][3]

'E'

In [17]:
b

[8, 19, 24, 25]

In [20]:
a.extend(b)
a

[2,
 3,
 5,
 10,
 13,
 'SAKET',
 [8, 19, 24, 25],
 25,
 8,
 19,
 24,
 25,
 8,
 19,
 24,
 25,
 8,
 19,
 24,
 25]

In [21]:
c="saket kumar Chaudary"
len(c)

20

In [27]:
c.capitalize()
print (c.upper())
c

SAKET KUMAR CHAUDARY

'Saket kumar Chaudary'

In [28]:
c.split(" ")

['Saket', 'kumar', 'Chaudary']

In [31]:
d=c.split (" ")
d

['Saket', 'kumar', 'Chaudary']

In [32]:
d[1][1]

'u'

In [35]:
e={"NAme": "SAKET",
   "Subject":"Python",
   "Sem": 3 ,
   "Student":["Bhupesh","Rajkumar JI"]    
}
e

{'NAme': 'SAKET',
 'Subject': 'Python',
 'Sem': 3,
 'Student': ['Bhupesh', 'Rajkumar JI']}

In [36]:
e.keys()

dict_keys(['NAme', 'Subject', 'Sem', 'Student'])

In [37]:
e.values()

dict_values(['SAKET', 'Python', 3, ['Bhupesh', 'Rajkumar JI']])

In [38]:
for k,v in e.items():
    print (k,v)

NAme SAKET
Subject Python
Sem 3
Student ['Bhupesh', 'Rajkumar JI']

In [41]:
f=2,3
f

(2, 3)

In [43]:
a1=[1,2,2,4,3,3,4]
a2=[2,4,6,7,3,8,6]
b1=set(a1)
b2=set(a2)
b1
b2

{2, 3, 4, 6, 7, 8}

In [44]:
b1.intersection(b2)

{2, 3, 4}

In [45]:
b1.union(b2)

{1, 2, 3, 4, 6, 7, 8}

In [46]:
b1.difference(b2)

{1}

In [50]:
def square(x):
    return x*2
square(3)

6

In [51]:
square("saket")

'saketsaket'

# parameter passing techniques
1.copy value technique
2.default value technique
3.keyword argument technique
4.pass a list
5.pass a dictionary

In [1]:
def volume_cubid (length,height,width):
    return length*height*width
volume_cubid(2,3,6)

36

# Default value

In [2]:
def volume_cubid1 (length=2,height=3,width=6):
    return length*height*width
volume_cubid1(5,6)

180

# Keyword argument

In [3]:
def volume_cubid1 (length=2,height=3,width=6):
    return length*height*width
v1=volume_cubid1(length=5,height=6,width=8)
v2=volume_cubid1(length=5,height=6,width=9)
print(v1,v2)

240 270

In [6]:
def volume_cubid2 (length,height,width=6):
    return length*height*width
v1=volume_cubid2(length=5,height=6,width=8)
v2=volume_cubid2(length=5,height=6,width=9)
print(v1,v2)

240 270

# pass a list

In [8]:
def print_sum (*value):
    sum=0 
    for i in value:
        sum=sum+i
    return sum
print_sum(2,3,4,5,6,7,11)

38

In [14]:
def print_sum (*value):
    sum=0 
    s=[]
    j=0
    for i in value:
        s.append (i)
    while j < len(s):
        if (j+1)%2==0:
            sum=sum+s[j]
        j=j+1
    return sum
print_sum(2,3,4,5,6,7,11)

15

In [17]:
def print_sum (*value):
    sum=0 
    s=[]
    j=0
    
    for i in value:
        s.append (i)
        print(s)
    while j < len(s):
        if (j+1)%2==0:
            sum=sum+s[j]
            print(j)
        j=j+1
    print (j)
    return sum
print_sum(2,3,4,5,6,7,11)

[2]
[2, 3]
[2, 3, 4]
[2, 3, 4, 5]
[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7, 11]
1
3
5
7

15

In [20]:
def print_name(*names):
    for n in names:
        print(n)
    return
print_name("Saket","Bhupesh",2,3.5,8,[2,3],(5,6))

Saket
Bhupesh
2
3.5
8
[2, 3]
(5, 6)

In [21]:
def print_person (**person):
    for i in person:
        print(i,person[i])
    return
print_person(Name="saket",force=5)

Name saket
force 5

# pass in list and distonary

In [25]:
def print_person (**person):
    for i in person:
        print(i)
    return
print_person(Name="saket",force=5)

Name
force

In [26]:
def print_data (*kw1,**kw2):
    for k in kw1:
        print (k)
    for k2 in kw2:
        print(k,kw2[k2])
    return
print_data(2,3,4,name="Saket",force=7)

2
3
4
4 Saket
4 7

# Range Funtion

In [28]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [30]:
for i in range(3,10,2):
    print(i)

3
5
7
9

In [33]:
for i in range(1,100,3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97

In [39]:
a=[1,4,5,6,7,19,30,29,58,68,90,80,45]
print(a)
print(a[len(a)-1])
print(a[-1])
print (a[:7])
print(a[3:7])
print (a[::2])

[1, 4, 5, 6, 7, 19, 30, 29, 58, 68, 90, 80, 45]
45
45
[1, 4, 5, 6, 7, 19, 30]
[6, 7, 19, 30]
[1, 5, 7, 30, 58, 90, 45]

In [45]:
a=[[2,3,5],[78,98,90],[56,57]]
print(a)
print(a[0][1],a[1][2])
print(a[0][1:3])

[[2, 3, 5], [78, 98, 90], [56, 57]]
3 90
[3, 5]

# file Handling

In [47]:
file_name="text.txt"
f=open(file_name,"w")
f.write("Saket")
f.close()

In [49]:
f=open(file_name,"a")
f.write("\nBhupesh")
f.close()

In [51]:
f=open(file_name,"r")
print(f.read())
f.close()

SaketBhupesh
Bhupesh

In [53]:
f=open(file_name)
for line in f.readlines():
    print (line)
f.close()

SaketBhupesh

Bhupesh

# import json

In [1]:
import json

In [3]:
filename="Testjson.json"
doc={
    "Name":"Bhupesh",
    "Address":"2323,sector2",
    "contact":8884809900
}
doc

{'Name': 'Bhupesh', 'Address': '2323,sector2', 'contact': 8884809900}

In [6]:
with open (filename,"w") as f:
    json.dump(doc,f,indent=4)
f.close()

<_io.TextIOWrapper name='Testjson.json' mode='w' encoding='cp1252'>

In [ ]:
with open (filename,"w") as f:
    json.dump(doc,f,indent=4)
f.close()